<body>
	<div class="col12 row1">
		<h1 class="merchandise-title">{{title}}</h1>
	</div>
	<div class="col23 row234">
		<p>Report ID: {{jewelery.id}}</p>
		<div class="merchandise-items">
			<img src="/uploads/{{jewelery.id}}.jpg">
			<p>Date: {{jewelery.date}}</p>
			<p>Customer Info: {{jewelery.customerInfo}}</p>
			<p>Description: {{jewelery.description}}</p>
			<p>Stone Type: {{jewelery.stoneType}}</p>
			<p>Jewelery Weight: {{jewelery.jeweleryWeight}}</p>
			<p>Total Stones: {{jewelery.totalStones}}</p>
			<p>Comments: {{jewelery.comments}}</p>
			<p>Serial Number: {{jewelery.serialNumber}}</p>
			<p>Metal Type: {{jewelery.metalType}}</p>
			<p>Carat Weight: {{jewelery.caratWeight}}</p>
			<p>Color Grade: {{jewelery.colorGrade}}</p>
			<p>Clarity Grade: {{jewelery.clarityGrade}}</p>
			<p>Estimated Retail Replacement Value: {{jewelery.estimatedRetailReplacementValue}}</p>
		</div>
	</div>
	{{> back_link}} 
	{{> delete_footer id=jewelery._id }}
	<div class="footer col34 row5">
		<form class="form" method="POST" action="">
			<input name="id" type="hidden" value="{{jewelery.id}}" />
			<input name="imageUrl" type="hidden" value="/uploads/{{jewelery.id}}.jpg" />
			<input name="date" type="hidden" value="{{jewelery.date}}" />
			<input name="customerInfo" type="hidden" value="{{jewelery.customerInfo}}" />
			<input name="description" type="hidden" value="{{jewelery.description}}" />
			<input name="stoneType" type="hidden" value="{{jewelery.stoneType}}" />
			<input name="jeweleryWeight" type="hidden" value="{{jewelery.jeweleryWeight}}" />
			<input name="totalStones" type="hidden" value="{{jewelery.totalStones}}" />
			<input name="comments" type="hidden" value="{{jewelery.comments}}" />
			<input name="serialNumber" type="hidden" value="{{jewelery.serialNumber}}" />
			<input name="metalType" type="hidden" value="{{jewelery.metalType}}" />
			<input name="caratWeight" type="hidden" value="{{jewelery.caratWeight}}" />
			<input name="colorGrade" type="hidden" value="{{jewelery.colorGrade}}" />
			<input name="clarityGrade" type="hidden" value="{{jewelery.clarityGrade}}" />
			<input name="estimatedRetailReplacementValue" type="hidden" value="{{jewelery.estimatedRetailReplacementValue}}" />
			<input name="emailAddress" type="text" placeholder="Enter email address" />
			<button>Generate and Send PDF</button>
		</form>
	</div>
</body>