{{title}}
<h2>Report ID: {{jewelery.reportId}}</h2>
<p>Customer Info: {{jewelery.customerInfo}}</p>
<p>Description: {{jewelery.description}}</p>
<p>Stone Type: {{jewelery.stoneType}}</p>
<p>Jewelery Weight: {{jewelery.jeweleryWeight}}</p>
<p>Total Stones: {{jewelery.totalStones}}</p>
<p>Comments: {{jewelery.comments}}</p>
<p>Serial Number: {{jewelery.serialNumber}}</p>
<p>Metal Type: {{jewelery.metalType}}</p>
<p>Carat Weight: {{jewelery.caratWeight}}</p>
<p>Color Grade: {{jewelery.colorGrade}}</p>
<p>Clarity Grade: {{jewelery.clarityGrade}}</p>
<p>Estimated Retail Replacement Value: {{jewelery.estimatedRetailReplacementValue}}</p>
{{!-- {{> CRUD_footer id=item.id}} --}}