<body>
	<div class="col123 row1">
		<h1 class="merchandise-title">{{title}}</h1>
	</div>
	<div class="col45 row1">
		<a href="/">Home</a>
	</div>
	<div class="col234 row234">
		<div class="merchandise-items">
			<p>Report ID: {{watch.id}}</p>
			<img src="/{{watch.filename}}">
			<p>Date: {{watch.date}}</p>
			<p>Customer Info: {{watch.customerInfo}}</p>
			<p>Brand: {{watch.brand}}</p>
			<p>Reference Number: {{watch.referenceNumber}}</p>
			<p>Serial Number: {{watch.serialNumber}}</p>
			<p>Model: {{watch.model}}</p>
			<p>Movement: {{watch.movement}}</p>
			<p>Case Diameter: {{watch.caseDiameter}}</p>
			<p>Bezel Material: {{watch.bezelMaterial}}</p>
			<p>Dial: {{watch.dial}}</p>
			<p>Bracelet Material: {{watch.braceletMaterial}}</p>
			<p>Comments: {{watch.comments}}</p>
			<p>Clasp Material: {{watch.claspMaterial}}</p>
			<p>Functions: {{watch.functions}}</p>
			<p>Year: {{watch.year}}</p>
			<p>Condition: {{watch.condition}}</p>
			<p>Estimated Retail Replacement Value: {{watch.estimatedRetailReplacementValue}}</p>
		</div>
	</div>
	<div class="col12 row5">
		<a href="/watches/{{watch.id}}/delete">Delete</a>
	</div>
	<div class="footer col345 row5">
		<form class="form" method="POST" action="">
			<input name="id" type="hidden" value="{{watch.id}}" />
			<input name="imageUrl" type="hidden" value="/{{watch.filename}}" />
			<input name="date" type="hidden" value="{{watch.date}}" />
			<input name="customerInfo" type="hidden" value="{{watch.customerInfo}}" />
			<input name="brand" type="hidden" value="{{watch.brand}}" />
			<input name="referenceNumber" type="hidden" value="{{watch.referenceNumber}}" />
			<input name="serialNumber" type="hidden" value="{{watch.serialNumber}}" />
			<input name="model" type="hidden" value="{{watch.model}}" />
			<input name="movement" type="hidden" value="{{watch.movement}}" />
			<input name="caseDiameter" type="hidden" value="{{watch.caseDiameter}}" />
			<input name="bezelMaterial" type="hidden" value="{{watch.bezelMaterial}}" />
			<input name="dial" type="hidden" value="{{watch.dial}}" />
			<input name="braceletMaterial" type="hidden" value="{{watch.braceletMaterial}}" />
			<input name="comments" type="hidden" value="{{watch.comments}}" />
			<input name="claspMaterial" type="hidden" value="{{watch.claspMaterial}}" />
			<input name="functions" type="hidden" value="{{watch.functions}}" />
			<input name="year" type="hidden" value="{{watch.year}}" />
			<input name="condition" type="hidden" value="{{watch.condition}}" />
			<input name="estimatedRetailReplacementValue" type="hidden" value="{{watch.estimatedRetailReplacementValue}}" />
			<input name="emailAddress" type="text" placeholder="Enter email address" />
			<button>Generate and Send PDF</button>
		</form>
	</div>
</body>