<body>
	<div class="col123 row1">
		<h1 class="merchandise-title">{{title}}</h1>
	</div>
	<div class="col45 row1">
		<a href="/">Home</a>
	</div>
	<div class="col12345 row234">
		<div class="merchandise-items">
			<p>Report ID: {{watch.id}}</p>
			<img src="{{watch.photo_src}}">
			<p>Date: {{watch.date}}</p>
			<p>Customer Info: {{watch.customerInfo}}</p>
			<p>Brand: {{watch.brand}}</p>
			<p>Reference Number: {{watch.referenceNumber}}</p>
			<p>Serial Number: {{watch.serialNumber}}</p>
			<p>Model: {{watch.model}}</p>
			<p>Movement: {{watch.movement}}</p>
			<p>Case Diameter: {{watch.caseDiameter}}</p>
			<p>Bezel Material: {{watch.bezelMaterial}}</p>
			<p>Dial: {{watch.dial}}</p>
			<p>Bracelet Material: {{watch.braceletMaterial}}</p>
			<p>Comments: {{watch.comments}}</p>
			<p>Clasp Material: {{watch.claspMaterial}}</p>
			<p>Functions: {{watch.functions}}</p>
			<p>Year: {{watch.year}}</p>
			<p>Condition: {{watch.condition}}</p>
			<p>Estimated Retail Replacement Value: {{watch.estimatedRetailReplacementValue}}</p>
		</div>
	</div>
	<div class="col12 row5">
		<a href="/watches/{{watch.id}}/delete">Delete</a>
	</div>
	<div class="footer col345 row5">
		<form class="form" method="POST" action="">
			<input name="emailAddress" type="text" placeholder="Enter email address" />
			<button>Generate and Send PDF</button>
		</form>
	</div>
</body>