<h1>{{title}}</h1>
<h2>Report ID: {{watch.reportId}}</h2>
<p>Customer Info: {{watch.customerInfo}}</p>
<p>Brand: {{watch.brand}}</p>
<p>Reference Number: {{watch.referenceNumber}}</p>
<p>Serial Number: {{watch.serialNumber}}</p>
<p>Model: {{watch.model}}</p>
<p>Movement: {{watch.movement}}</p>
<p>Case Diameter: {{watch.caseDiameter}}</p>
<p>Bezel Material: {{watch.bezelMaterial}}</p>
<p>Dial: {{watch.dial}}</p>
<p>Bracelet Material: {{watch.braceletMaterial}}</p>
<p>Comments: {{watch.comments}}</p>
<p>Clasp Material: {{watch.claspMaterial}}</p>
<p>Functions: {{watch.functions}}</p>
<p>Year: {{watch.year}}</p>
<p>Condition: {{watch.condition}}</p>
<p>Estimated Retail Replacement Value: {{watch.estimatedRetailReplacementValue}}</p>
{{!-- {{> CRUD_footer id=item.id}} --}}